<%= form_tag url: process_images_path, id: "fileupload" do |f| %>
  <%= hidden_field_tag :filter %>
  <label class="btn btn-pluralsight btn-file">
    Upload <input id="new_image_handler" type="file" name="image_handler[image_two]" style="display: none;">
  </label>
<% end %>
