<%= form_for url: process_that_ish_path, remote: true, authenticity_token: true do |f| %>
  <%= f.file_field :image_two, id: 'files' %>
  <img id="image" />
  <br>
  <br>
  <br>

  <div class="actions">
    <%= f.submit 'Create Profile Picture', class: 'btn btn-primary' %>
  </div>
<% end %>
