
<div class="row">
  <div class="col-sm-5 text-center">
    <%= image_tag "#{@file_one_url}", class: 'filter1_example col-sm-12' %>
    <br>
    <br>
    <div class="row text-center">
      <%= link_to "Download Image", "#{@file_one_url}",class: 'btn btn-primary download-link col-sm-6 offset-md-3', download: 'avatar' %>
    </div>
  </div>
  <div class="col-sm-2" id="arrow-container"></div>
  <div class="col-sm-5 text-center">
    <%= image_tag "#{@file_two_url}", class: 'filter2_example col-sm-12' %>
    <br>
    <br>
    <div class="row text-center">
      <%= link_to "Download Image", "#{@file_two_url}", class: 'btn btn-primary download-link col-sm-6 offset-md-3', download: 'avatar' %>
    </div>
  </div>
</div>