<div class="col-sm-12">
<%= image_tag "#{@file_url}", class: 'uploaded-image' %>
</div>
<div class="row col-sm-12 text-center">  
  <%= link_to "Download Image", "#{@file_url}",class: 'btn btn-primary download-link', download: 'avatar' %>
</div>