<div class="col-sm-12">
<%= image_tag '/uploads/something.jpg', class: 'uploaded-image' %>
</div>
<div class="row col-sm-12 text-center">  
  <%= link_to "Download Image", "/uploads/something.jpg",class: 'btn btn-primary download-link', download: 'avatar' %>
</div>