
<div class="row">
  <div class="col-sm-12 text-center filter1">
    <%= image_tag "#{@file_one_url}", class: 'filter_example col-sm-12' %>
    <br>
    <br>
    <h3 class="row text-left">
        <div class="col-sm-4 offset-sm-5">
          <span class="">3. </span>
          <%= link_to "Save", "#{@file_one_url}",class: 'btn btn-pluralsight download-link  text-center', download: 'avatar' %>
          <span class=""> Image and upload to your social profile</span>
        <!-- </div> -->
      </h3>
  </div>
  
  <div class="col-sm-12 text-center filter2">
    <%= image_tag "#{@file_two_url}", class: 'filter_example col-sm-12' %>
    <br>
    <br>
    <h3 class="row text-left">
        <div class="col-sm-4 offset-sm-5">
          <span class="">3. </span>
          <%= link_to "Save", "#{@file_two_url}",class: 'btn btn-pluralsight download-link  text-center', download: 'avatar' %>
          <span class=""> Image and upload to your social profile</span>
        <!-- </div> -->
      </h3>
  </div>

</div>
