<div class="col-sm-12 text-center">
  <p id="notice"><%= notice %></p>
  <h3>Trumpify your Profile Picture</h3>
  <h4>Add this awesome Filter to your profile picture now.</h4>
  <%= image_tag 'drumpf.png', class: 'filter-overlay' %>
  <br>
  <br>
  <h3>Click below to upload your Profile Picture.</h3>
  <br>
  <br>
  <%= render 'form', image_handler: @image_handler %>
</div>
