$(document).on('turbolinks:load', function(){
  $('#new_image_handler').fileupload({
    url: '/process_that_ish',
    dataType: "script",
    type: 'post',
    add: function(e, data){
      // e.preventDefault();
      console.log('image added');
      data.submit();
    }, 
    success: function(data, status) {
      $('#processedImage').html(
        '<div class="col-sm-12"><%= image_tag "/uploads/something.jpg", class: "uploaded-image" %></div><div class="row col-sm-12 text-center"><a href="/uploads/something.jpg" class="btn btn-primary download-link" download="avatar" >Download Image</a></div>'
        );
    }
  });
})