@import 'bootstrap';

.filter-overlay {
  max-width: 300px;
  max-height: 300px;
}

.default-profile {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  margin-left: 20%;
}
.uploaded-image {
  margin-left: 20%;
  margin-top: 5em;
}

.arrow-image {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.download-link {
  margin-left: 30%;
  width: 40%;
  margin-top: 10px;
}